
<div class="menu-cont" style="background-color: lightslategrey; margin-bottom: 2%;">
    <a routerLinkActive="active-menu-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true}">All Items</a>
    <a routerLinkActive="active-menu-link" routerLink="add-item-page">Add Item</a>
    <a routerLinkActive="active-menu-link" routerLink="add-category-page">Add Category</a>
    <a routerLinkActive="active-menu-link" routerLink="add-country-page">Add Country</a>
</div>
     <div>
        <router-outlet>
    
        </router-outlet>
     </div>
